h1{
    text-align: center;
}
.background{height: 400px;
    background: linear-gradient(to bottom, #c8d3eb 0%, #3cfc7c 100%)
}
 .navigation-bar{
    margin: 10px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 50px;
    height: 20%;
    box-shadow: 1px 1px 1px rgb(136, 146, 138);    
}

.navigation-bar .navigation-div .navigation-list li{
    list-style-type: none;
    margin: 0;
    padding: 12px;
    overflow: hidden;
    margin-top: -10px;
  }
  
  .navigation-bar .navigation-div .navigation-list li {
    float: left;
  }
  
  .navigation-bar .navigation-div .navigation-list li h6 {
    display: block;
    padding: 38px;
    font-size: 100%;
  }